<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941225769550-0jqebq56oij0aqsh5p77hi1dmgk6jump.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941225769550-0jqebq56oij0aqsh5p77hi1dmgk6jump</string>
	<key>API_KEY</key>
	<string>AIzaSyA2vB6tCYMmVA1aFqpdJIX0ISiovAzwy4I</string>
	<key>GCM_SENDER_ID</key>
	<string>941225769550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitowly.pedalbrain</string>
	<key>PROJECT_ID</key>
	<string>pedalbrain-1799c</string>
	<key>STORAGE_BUCKET</key>
	<string>pedalbrain-1799c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941225769550:ios:f001d233214153eb00211f</string>
</dict>
</plist>